.producten {
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 23px;
    padding-top: 1em;
}

.producten p, h2 {
    padding: .4em;
    text-align: justify;
}
.producten img {
    width: 100%;
    display: inline-block;
}

.shirt {
    width: 30%;
    float: left;
    padding: .5em;
}

.trui {
    width: 30%;
    display: inline-block;
    margin: 0 auto;
    padding: .5em;
}

.jack {
    width: 30%;
    float: right;
    padding: .5em;
}

.kledingButton {
    padding: 5em;
}

.buttonStyle {
    background-color: #f0f0f0;
    border: solid red 2px;
    padding-left: .5em;
    padding-right: .5em;
    float: left;
    margin-left: .3em;
}

.wrap {
    text-align: center;
}

.contactText {
    width: 80%;
    text-align: justify;
    margin: 0 auto;
    padding-bottom: 3em;
}

.contactTekst {
    padding-top: 3em;
    font-size: 20px;
}
